.profile-card {
  border-radius: 4px;
  border: 1px solid #abd5d6;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #095661;
  font-weight: 600;
  font-size: 16px;
}

div.shield {
  height: 48px;
  width: 48px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='48px' width='48px' viewBox='0 0 24 24'%3E%3Cpath fill='%23abd5d6' d='M16.59 7.58L10 14.17l-3.59-3.58L5 12l5 5 8-8zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z'%3E%3C/path%3E%3C/svg%3E");
}

p {
  margin-left: 16px;
}

span {
  margin-left: 4px;
}



